//
//  Impact.xcconfig
//  Impact
//
//  Created by Matt Massicotte on 2019-09-17.
//  Copyright © 2019 Chime Systems Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "xcconfigs/UniversalFramework_Framework.xcconfig"

PRODUCT_NAME = Impact
PRODUCT_BUNDLE_IDENTIFIER = com.chimehq.Impact
PRODUCT_MODULE_NAME = Impact
CURRENT_PROJECT_VERSION = 8
DYLIB_CURRENT_VERSION = $(CURRENT_PROJECT_VERSION)
MARKETING_VERSION = 0.3.4
APPLICATION_EXTENSION_API_ONLY = YES

INFOPLIST_FILE = Impact/Info.plist

MACOSX_DEPLOYMENT_TARGET = 10.13
IPHONEOS_DEPLOYMENT_TARGET = 12.0
TVOS_DEPLOYMENT_TARGET = 12.0
WATCHOS_DEPLOYMENT_TARGET = 4.0

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) CURRENT_PROJECT_VERSION=$(CURRENT_PROJECT_VERSION)
